# Target server URL to proxy and forward incoming requests to.
# Example: http://localhost:8091 or https://apm-rx.atatus.com
# If left empty or unset, logreq acts as a fake backend (mock mode).
PROXY_TARGET=
